<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-ATS-20170421090657;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-ATS-20170421090657.mdf" />

		<!--Dev-->
		<!-- Test 1-->
		<!--<add name="ConnectionString" connectionString="Data Source=192.168.19.30;Initial Catalog=DealerManagementSystem;User ID=sa;Password=ajax@123;" />-->
		<add name="ConnectionString" connectionString="Data Source=172.31.24.64;Initial Catalog=DMS_Dev;User ID=sa;Password=Ajax@321;" />

		<!--Pro-->



	</connectionStrings>
	<appSettings>

		<!--<add key="ApiBaseAddress" value="https://ajaxone.ajax-engg.com:446/api/" />-->
		<!--Pro-->
		<!--<add key="ApiBaseAddress" value="https://172.31.22.169:444/api/" />-->
		<!--Qlty-->
		<!--<add key="ApiBaseAddress" value="https://ajaxdev.ajax-engg.com:1444/api/" />-->
		<!--Dev-->

		<!--<add key="ApiBaseAddress" value="http://DMS-Dev-App.ajax-engg.com:802/api/" />-->

		<add key="ApiBaseAddress" value="https://localhost:44302/api/" />
		<!--<add key="ApiBaseAddress" value="https://ajaxapps.ajax-engg.com:4431/api/" />-->



		<!--Dev Box -->
		<add key="URL" value="https://ajaxapps.ajax-engg.com:1444/" />
		<add key="Server" value="DEV" />
		<add key="EInvoiceAPI" value="https://solo.enriched-api.vayana.com/basic/einv/v1.0/nic/eicore/v1.03/Invoice" />

		<!--Pro-->
		<!--<add key="URL" value="https://ajaxapps.ajax-engg.com:1444/" />  
		<add key="Server" value="DEV" />
		<add key="EInvoiceAPI" value="https://live.enriched-api.vayana.com/basic/einv/v1.0/nic/eicore/v1.03/Invoice" />-->



		<add key="ConnectionProvider" value="SQLServer" />
		<add key="MailFrom" value="mis@ajax-engg.com" />
		<add key="Mailpwd" value="sim@9675" />
		<add key="SmtpHost" value="smtp.office365.com" />
		<add key="Port" value="587" />
		<add key="DebugTraceOn" value="false" />
		<add key="LogPath" value="C:\\Applications\\TicketSystem\\Logs\\TraceLog.txt" />
		<add key="TRMail" value="john.peter@ajax-fiori.com" />
		<add key="LogFolder" value="C:\\AFWebApps\\Logs" />
		<add key="LogTrack" value="1" />
		<add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
		<add key="VendorBankApproval" value="john.peter@ajax-fiori.com" />
		<add key="BasePath" value="E:\\ATS" />
		<add key="NoOfAllowedLoginAttempts" value="5" />
		<add key="UserIdSMS" value="2000138608" />
		<add key="PasswdSMS" value="Gupsms@123" />
		<add key="Language" value="EN" />
		<add key="PoolSize" value="5" />
		<add key="MaxPoolSize" value="10" />
		<add key="IdleTimeout" value="60000" />
		<add key="ICTicketLockDate" value="60" />
		<add key="ClaimLockDate" value="30" />
		<add key="EOrgName" value="Ajax Engineering Private Limited" />
		<add key="EAddress1" value="#253/1, 11th Main, 3rd Phase, Peenya Indl Area" />
		<add key="EAddress2" value="" />
		<add key="ECity" value="Bangalore" />
		<add key="EState" value="Karnataka" />
		<add key="EStateCode" value="29" />
		<add key="EPincode" value="560058" />
		<add key="EGSTIN" value="29AABCA2035K1ZT" />
		<add key="ECIN" value="U28920KA1992PTC013306" />
		<add key="EPAN" value="AABCA2035K" />
		<add key="EMAIL" value="customercare@ajax-engg.com" />
		<add key="EWeb" value="www.ajax-engg.com" />
		<add key="Mobile" value="91 80 6720 0082,6720 0083" />
		<add key="NewLogoDate" value="16/03/2019" />
		<add key="TcsDate" value="01/10/2020" />
		<add key="TcsTax" value=".075" />
		<add key="AjaxDealerID" value="53" />
		<add key="ApplicationKey" value="QWpheERtc1dlYkAxMjM=" />
		<add key="EInvoiveDate" value="01/10/2020" />
		<add key="VisitMaxDay" value="2" />



	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2">
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
			</buildProviders>
			<assemblies>
				<add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.7.2" maxRequestLength="2097151" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Optimization" />
			</namespaces>
			<controls>
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
			</controls>
		</pages>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
		</httpHandlers>
		<sessionState timeout="60" />
		<globalization culture="en-GB" uiCulture="en-GB" />
		<customErrors mode="Off">
		</customErrors>
		<authentication mode="None" />
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<add name="ReportViewerWebControlHandler1" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
			<add name="ReportViewerWebControlHandler2" verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="4294967295" />
			</requestFiltering>
		</security>

	</system.webServer>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>