<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-ATS-20170421090657;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-ATS-20170421090657.mdf" />
		<!--Dev-->
		<!--<add name="ConnectionString" connectionString="Data Source=192.168.19.30;Initial Catalog=TicketSys;User ID=sa;Password=ajax@123;"/>
    <add name="DSNConnectionString" connectionString="DSN=DMS_Dev;UID=postgres;PWD=Abcd1234" />
    <add name="DSNConnectionStringLive" connectionString="DSN=DMS_Dev;UID=postgres;PWD=Abcd1234" />-->
		<!--Qty-->
		<!--<add name="DSNConnectionString" connectionString="DSN=DMS_Quality;UID=postgres;PWD=Abcd1234" />
    <add name="DSNConnectionStringLive" connectionString="DSN=DMS_Quality;UID=postgres;PWD=Abcd1234" />-->
		<!--<add name="DSNConnectionStringLive" connectionString="DSN=DMS_Pro_Live;UID=postgres;PWD=Abcd1234" />-->
		<!--Pro-->
		<add name="ConnectionString" connectionString="Data Source=172.31.14.89;Initial Catalog=DMS;User ID=sa;Password=dms@321;"/>
		<add name="DSNConnectionStringLive" connectionString="DSN=DMS_Pro_Live;UID=afreport;PWD=Report@123" />
		<add name="DSNConnectionString" connectionString="DSN=DMS_Pro_Live;UID=afreport;PWD=Report@123" />
	</connectionStrings>
	<appSettings>
		<add key="ConnectionProvider" value="SQLServer" />

		<add key="MailFrom" value="mis@ajax-engg.com"/>
		<add key="Mailpwd" value="sim@9675"/>
		<add key="SmtpHost" value="smtp.office365.com"/>
		<add key="Port" value="587"/>

		<add key="DebugTraceOn" value="false" />
		<add key="LogPath" value="C:\\Applications\\TicketSystem\\Logs\\TraceLog.txt" />
		<add key="TRMail" value="john.peter@ajax-fiori.com" />
		<add key="URL" value="http://192.168.19.31:89/" />
		<add key="URLAF" value="http://192.168.19.31:81/" />
		<add key="LogFolder" value="C:\\AFWebApps\\Logs" />
		<add key="LogTrack" value="1" />
		<add key="BasePath" value="E:\\ATS" />
		<add key="AppCulture" value="en-GB" />
		<add key="ClaimCancel" value="383" />
		<add key="Language" value="EN" />
		<add key="PoolSize" value="5" />
		<add key="MaxPoolSize" value="10" />
		<add key="IdleTimeout" value="60000" />

		<!--Dev Box -->
		<!--<add key="ICTicketPath" value="\\192.168.19.20\FTP_SAP\DEV\DCONNECT\OUT"/>    
    <add key="AppServerHost" value="192.168.19.62"/>
    <add key="SystemNumber" value="02"/>
    <add key="User" value="jktabap3"/>
    <add key="Password" value="welcome12"/>
    <add key="Client" value="200"/>
    <add key="RFCDestination" value="HEQ"/>


    <add key="CRM_AppServerHost" value="192.168.19.62"/>
    <add key="CRM_SystemNumber" value="00"/>
    <add key="CRM_User" value="jktabap3"/>
    <add key="CRM_Password" value="welcome12"/>
    <add key="CRM_Client" value="700"/>
    <add key="CRM_RFCDestination" value="ACD"/> 
    
     
    
    -->
		<!--Production Box -->
		<add key="ICTicketPath" value="\\192.168.19.20\FTP_SAP\DCONNECT\OUT" />
		<add key="AppServerHost" value="192.168.19.160" />
		<add key="SystemNumber" value="02" />
		<add key="User" value="jktabap3" />
		<add key="Password" value="ajax@123" />
		<add key="Client" value="700" />
		<add key="RFCDestination" value="HEQ" />

		<add key="CRM_AppServerHost" value="192.168.19.157" />
		<add key="CRM_SystemNumber" value="02" />
		<add key="CRM_User" value="jktabap3" />
		<add key="CRM_Password" value="crm@2021" />
		<add key="CRM_Client" value="700" />
		<add key="CRM_RFCDestination" value="ACP" />


		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="EInvoivePath" value="C:\Applications\"/>




	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>