.ribbon.ribbon-border-dash-hor:after {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: none;
    border-right: none;
    border-top-style: dashed;
    border-bottom-style: dashed;
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 0;
    right: 0
}

.ribbon.ribbon-clip {
    left: -10px;
    margin-left: 0
}

    .ribbon.ribbon-clip.ribbon-right {
        left: auto;
        right: -10px;
        margin-right: 0
    }

.ribbon > .ribbon-sub {
    z-index: -1;
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

    .ribbon > .ribbon-sub.ribbon-clip:before, .ribbon > .ribbon-sub.ribbon-clip:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-color: transparent !important;
        bottom: -10px
    }

    .ribbon > .ribbon-sub.ribbon-clip:before {
        border-width: 0 10px 10px 0;
        border-right-color: #222 !important;
        left: 0
    }

    .ribbon > .ribbon-sub.ribbon-clip.ribbon-right:before, .ribbon > .ribbon-sub.ribbon-clip.ribbon-right:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-color: transparent;
        bottom: -10px
    }

    .ribbon > .ribbon-sub.ribbon-clip.ribbon-right:before {
        border-right-color: transparent !important
    }

    .ribbon > .ribbon-sub.ribbon-clip.ribbon-right:after {
        border-width: 0 0 10px 10px;
        border-left-color: #222 !important;
        right: 0
    }

    .ribbon > .ribbon-sub.ribbon-bookmark:after {
        border-left: 21px solid;
        border-right: 20px solid;
        border-bottom: 1em solid transparent !important;
        bottom: -1em;
        content: '';
        height: 0;
        left: 0;
        position: absolute;
        width: 0
    }

.ribbon:after {
    border-color: #62748f
}

.ribbon > .ribbon-sub {
    background-color: #bac3d0;
    color: #384353
}

    .ribbon > .ribbon-sub:after {
        border-color: #62748f;
        border-left-color: #bac3d0;
        border-right-color: #bac3d0
    }

.ribbon.ribbon-color-default {
    background-color: #bac3d0;
    color: #384353
}

    .ribbon.ribbon-color-default:after {
        border-color: #9ca8bb
    }

    .ribbon.ribbon-color-default > .ribbon-sub {
        background-color: #bac3d0;
        color: #384353
    }

        .ribbon.ribbon-color-default > .ribbon-sub:after {
            border-color: #62748f;
            border-left-color: #bac3d0;
            border-right-color: #bac3d0
        }

.ribbon.ribbon-color-primary {
    background-color: #337ab7;
    color: #fff
}

    .ribbon.ribbon-color-primary:after {
        border-color: #286090
    }

    .ribbon.ribbon-color-primary > .ribbon-sub {
        background-color: #337ab7;
        color: #000
    }

        .ribbon.ribbon-color-primary > .ribbon-sub:after {
            border-color: #122b40;
            border-left-color: #337ab7;
            border-right-color: #337ab7
        }

.ribbon.ribbon-color-info {
    background-color: #659be0;
    color: #fff
}

    .ribbon.ribbon-color-info:after {
        border-color: #3a80d7
    }

    .ribbon.ribbon-color-info > .ribbon-sub {
        background-color: #659be0;
        color: #0c203a
    }

        .ribbon.ribbon-color-info > .ribbon-sub:after {
            border-color: #1d4f8e;
            border-left-color: #659be0;
            border-right-color: #659be0
        }

.ribbon.ribbon-color-success {
    background-color: #36c6d3;
    color: #fff
}

    .ribbon.ribbon-color-success:after {
        border-color: #27a4b0
    }

    .ribbon.ribbon-color-success > .ribbon-sub {
        background-color: #36c6d3;
        color: #020808
    }

        .ribbon.ribbon-color-success > .ribbon-sub:after {
            border-color: #14565c;
            border-left-color: #36c6d3;
            border-right-color: #36c6d3
        }

.ribbon.ribbon-color-danger {
    background-color: #ed6b75;
    color: #fff
}

    .ribbon.ribbon-color-danger:after {
        border-color: #e73d4a
    }

    .ribbon.ribbon-color-danger > .ribbon-sub {
        background-color: #ed6b75;
        color: #4f0a0f
    }

        .ribbon.ribbon-color-danger > .ribbon-sub:after {
            border-color: #a91520;
            border-left-color: #ed6b75;
            border-right-color: #ed6b75
        }

.ribbon.ribbon-color-warning {
    background-color: #f1c40f;
    color: #010100
}

    .ribbon.ribbon-color-warning:after {
        border-color: #c29d0b
    }

    .ribbon.ribbon-color-warning > .ribbon-sub {
        background-color: #f1c40f;
        color: #010100
    }

        .ribbon.ribbon-color-warning > .ribbon-sub:after {
            border-color: #614f06;
            border-left-color: #f1c40f;
            border-right-color: #f1c40f
        }
